<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head.ejs") -%>
  </head>
  <body>
    <main class="container">
      <%- include("../partials/navbar.ejs") -%>

      <h1>Advertisements</h1>

      <ul class="list-group">
        <% advertisements.forEach((advertisement) => { %>
          <li class="list-group-item">
            <a href="/advertisements/<%= advertisement.id %>"> <%= advertisement.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>